.card{
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin: 10px;
    width: 180px;
    height: 280px;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 0.5rem 0.5rem 0 0;
    font-size: 90%;

}
.content{
    margin: 0;
    width: 180px;
    height: 230px;
    border-radius: 0 0 0.5rem 0.5rem;
}

.card .content #img{
    width: 180px;
    height: 240px;
    border-radius: 0 0 0.5rem 0.5rem;
}